.card_section {
    width: 1200px;

    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

}

.card-box_my-cart {
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.subtotal {
    border: 1px solid gainsboro;
    border-radius: 10px;

}



.card_logo_img {
    width: 150px;
    height: 150px;
    border-radius: 10px;

}


/* CSS */
.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    align-items: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-37 {
        padding: 10px 30px;
    }
}




.recent_vieew_img {
    width: 120px;
    height: 160px;
    border-radius: 10px;
}


.del_recnt_itm {

    color: red;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}
.container {
    width: 100%;
    overflow: hidden;

}
.recnet_card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    height: auto;
    animation: marquee_div 10s linear infinite ;
    /* animation: name duration timing-function delay iteration-count direction ; */
}



@keyframes marquee_div {
    from {
        transform: translateX(100%) rotate(20deg) ;
    }

    to {
        transform: translateX(-100%);

    }
}





/* CSS */
.button-3 {
    appearance: none;
    background-color: #6d12e4;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.delete_msg {
    background-color: rgb(241, 129, 129);
    width: 500px;
    margin: auto;
    height: 40px;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.recentviewcart {
    background-color: #13aa52;
    width: 120px;
    height: 150px;


}

.recetn_card {
    width: 200px;
    height: 180px;
}


.button-r {
    appearance: none;
    background-color: rgb(233, 0, 85);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}


.button-r:hover {
    background-color: green;
}

/* CSS */
.button-2 {
    background-color: rgb(11, 55, 103);
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-2:hover {
    background-color: green;
}

.img_recent_view {
    width: 100px;

    height: 100px;
    border-radius: 10px;
}

/* CSS */
.button-120 {
    appearance: none;
    background-color: rgb(233, 0, 85);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-120:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-120:hover {
    background-color: red;
}

.button-120:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-120:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-120:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-MOre-cart {
    background-color: #5b3cd7;
    padding: .4rem 1rem;
    color: whitesmoke;
    border-radius: 5px;
}

.button-ck {
    background-color: #5b3cd7;
    padding: .8rem 1.9rem;
    border-radius: 1.3rem 1.3rem 1.3rem 1.3rem;
    color: whitesmoke;
}