.foot {

    background: linear-gradient(106deg, rgba(32,51,97,1) 0%, rgba(134,172,193,1) 100%) !important;
    /* background-color: rgb(255, 255, 255); */

    color:rgb(255, 255, 255);
}



.nav_colour {
    height: auto;
    color: rgb(0, 0, 0);
    
    /* background: linear-gradient(90deg,rgb(218, 119, 48),rgb(39, 82, 88)); */
    background: linear-gradient(106deg, rgba(32,51,97,1) 0%, rgba(134,172,193,1) 100%) !important;

    /* background-color: rgb(5, 32, 55); */

}

.deshBord{
    background-color: whitesmoke;
    padding: 4px;
    color: black;
    border-radius: 4px;
}
.deshBord:hover{
    background-color: rgb(5, 32, 55);
    color: whitesmoke;
}


