body {
    font-family: sans-serif;

}

.jakcet_li {
    list-style: none;


}


.jakcet_li:hover {
    cursor: pointer;

}

.jacK_a {
    color: black;
}

.jacK_a:hover {
    color: orangered;
}

.type_jack_li {
    list-style: none;
}

.type_jack_li {
    cursor: pointer;
}

.jacK_type {
    color: black;
}

.jacK_type:hover {

    color: green;
}

.jack_colour_li {
    list-style: none;
    cursor: pointer;
}

.LI_of_warrenty {
    list-style: none;

}

.LI_of_warrenty:hover {

    cursor: pointer;
    color: orangered;
    background-color: gainsboro;
}

.jacK_wra {
    text-decoration: none;
    color: black;
}

.jacK_wra:hover {
    cursor: pointer;

    color: orangered;
}

.FILTER-SECTION {

    padding: 15px;
    padding-top: 15px;
    border-radius: 10px;


}