.my-info {

    border: none;
    box-shadow: 4px 5px 30px 6px #dcdfdf;
    padding: 1rem 0;
    margin: 1rem 0;

}


table {
    width: 100%;
    border-collapse: collapse;
}



/* CSS */
.button-13 {
    background-color: #13aa52;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 60px;
}

.button-13:hover {
    background-color: whitesmoke;

}

.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.oder_row_container {
    background-color: #13aa52;
}

.pending {

    font-weight: bold;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.shiped {
    color: #13aa52;
}

.cenceled {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
}

/* CSS */

.shiped {
    background-color: orangered;
    color: azure;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-weight: lighter;
}




/* CSS */
.button-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: whitesmoke;
    background-color: #5B42F3;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-order:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-order:hover {
    background-color: #f4007e;
}

.suc {

    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #13aa52;
}

.foot_card {
    background-color: #008296;
}


.tablw_of_orderlist {
    border: 1px solid whitesmoke;
    border-radius: 7px;
}

/* CSS */
.button-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: rgb(254, 0, 0);
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.pass_cng {
    background-color: #f4007e;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.button-11:hover {
    background-color: black;
    color: wheat;
}

.button-11:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;

}