.Main_section_singup {
    background: #f6f3f3;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Main_section_singup>div {

    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;



}

.sign_up_form {
    width: 100%;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 4px 6px 30px 6px #d6d5d5;
}



.log_in_body>div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.admin_box{
    margin-right: 1rem;
}
.form_register {
    width: 100%;
    padding: 2rem;
    height: auto;
    border-radius: 3px;
    /* box-shadow: 4px 6px 30px 6px #d6d5d5; */
    box-shadow: 4px 4px 30px 1px #ae94e7;
}

.form_register div {
    margin: 1rem 0;
}

.singup_btn {
    /* background-color: #E02C6D; */
    background-color: #5B42F3;
    padding: 8px 2rem;
    border: none;
    color: whitesmoke;
    font-family: sans-serif;
    border-radius: 12rem 12rem 12rem 12rem;
    transition: background-color 2s ease-in-out 1s, border-radius 2s ease-in-out 1s;
}

.singup_btn:hover {
    background-color: #e25300;
    border-radius: 0 0 0 0;
}
.logout_btn{
    background-color: #e30456;
    padding: 8px 2rem;
    text-decoration: none;
    border: none;
    font-family: sans-serif;
    border-radius: 12rem 12rem 12rem 12rem;
    transition: background-color 2s ease-in-out 1s, border-radius 2s ease-in-out 1s;
}

.button_log {
    background-color: #E02C6D;
    padding: 8px 2rem;
    border: none;
    font-family: sans-serif;
    border-radius: 12rem 12rem 12rem 12rem;
    transition: background-color 2s ease-in-out 1s, border-radius 2s ease-in-out 1s;
}

.button_log:hover {
    background-color: #d6d5d5;
    border-radius: 0 0 0 0;
}

.log_in_body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family: sans-serif;
    background-color: #f6f3f3;
}