/* .football-section {
    width: 1200px;
    margin: auto;
} */
body {
    font-family: sans-serif;
}

.card_sports {

    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    height: auto;
}

.card_sports:hover {
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sporst_img {
    width: 260px;
    border-radius: 5px;
    height: 220px;
}

.btn_sports {
    background-color: rgb(240, 96, 44);
    border-radius: 5px;

}

.button-3 {
    background-color: orangered;
    width: 80px;
    height: 35px;
    text-align: center;
    border-radius: 5px;

}

.button-3:hover {
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.jursey_item_btn {
    /* background-color: orangered; */
    background-color: #5B42F3;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    padding: 7px;

}

.jursey_item_btn:hover {
    background-color: rgb(233, 37, 128);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.team_name {

    background-color: white;
}

.team_name:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.version_name {
    background-color: rgb(237, 233, 233);
    padding: 2px;
    border-radius: 5px;
}

.version_name:hover {
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 5px;
}

.jursy_type_price_btn {
    /* background-color: green; */
    background-color: rgb(98, 18, 248);
    padding: 6px;
    border-radius: 5px;
    border: none;
    color: white;

}

.jursy_type_price_btn:hover {
    background-color: black;
    border-radius: 8px;
    color: white;
}

.link-section-sports {
    background-color: orangered;

}

.li_of_colour {
    list-style: none;

    font-size: large;
}

.li_of_colour:hover {
    cursor: pointer;
    background-color: whitesmoke;

}

.cricket_brand_name {
    background-color: aliceblue;
    border-radius: 5px;
}

.cricket_brand_name:hover {
    background-color: orangered;
    cursor: pointer;
    color: whitesmoke;

}

.cricekt_bat_btn {
    background-color: rgb(233, 66, 0);
    padding: 4px .8rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);

}

.cricekt_bat_btn:hover {
    background-color: rgb(114, 33, 228);
}

.brn {

    color: forestgreen;

}

.meta_p {
    background-color: ghostwhite;
    border-radius: 5px;

}

.meta_p:hover {
    cursor: pointer;
    background-color: orange;
    color: white;
}

.Size_p {
    background-color: honeydew;
    color: black;
}

.Size_p:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.fb_price_li {
    list-style: none;
}

.fb_price_li:hover {
    cursor: pointer;
    flex-wrap: nowrap;
    font-weight: bold;

}